<footer class="bg-dark text-center text-white mt-auto py-3" style="position: relative;bottom: 0;width: 100%;">
    <div class="container p-4">
        <h5 class="text-uppercase">Trouvez un film avec l'un de nos cinémas partenaires :</h5>
        <br>
        <section class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Paris</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-beaugrenelle"
                            class="text-white">Beaugrenelle</a></li>
                    <li><a href="https://www.cinemaspathegaumont.com/cinemas/cinema-gaumont-champs-elysees"
                            class="text-white">Champs-Elysées</a></li>
                    <li>
                        <a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-la-villette"
                            class="text-white">La
                            Vilette</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Lyon</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-vaise"
                            class="text-white">Vaise</a></li>
                    <li><a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-carre-de-soie"
                            class="text-white">Carré de Soie</a></li>
                    <li><a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-bellecour"
                            class="text-white">Bellecour</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Marseille</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-madeleine"
                            class="text-white">Madeleine</a></li>
                    <li><a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-plan-de-campagne"
                            class="text-white">Plan de campagne</a></li>
                    <li><a href="https://www.cinemaspathegaumont.com/cinemas/cinema-cinema-la-joliette"
                            class="text-white">La Joliette</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Marseille</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-madeleine"
                            class="text-white">Madeleine</a></li>
                    <li><a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-plan-de-campagne"
                            class="text-white">Plan de campagne</a></li>
                    <li><a href="https://www.cinemaspathegaumont.com/cinemas/cinema-cinema-la-joliette"
                            class="text-white">La Joliette</a></li>
                </ul>
            </div>
        </section>
    </div>
    <div class="text-center p-3"> © 2025 Copyright: LinKnowledge </div>
</footer>