.gray {
  background-color: #f2f2f3;
}

.blank {
  background-color: #ffffff;
}

.global-card {
  margin: 1rem 0rem;
  padding: 1rem 2rem;
  border: none;
  gap: 0.6rem;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
  transition: transform 0.15s ease-in-out;

  &:hover {
    background-color: #ececec;
    transform: translateY(-2px);
  }
}

.inter-card {
  display: flex;
  gap: 1rem;
}

.card-img {
  border-radius: 12px;
  width: 30%;
  height: auto;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

h3 {
  font-weight: bold;
}

.rated-card {
  display: flex;
  gap: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem
}